@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="container py-10 px-4">
    <div class="max-w-2xl mx-auto text-center text-gray">
        <h1 class="text-4xl font-bold text-900 mb-6">
            Object Detection in Video
        </h1>
        <p class="text-lg text-600 leading-relaxed">
            Object detection using AI models.
        </p>
    </div>
</div>
